<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Admin Dashboard</h1>


    <a href="addNotes">Add Notes</a>
    <a href="addNotes">Display Notes</a>
    <a href="addNotes">Edit Notes</a>
    <a href="addNotes">Delete Notes</a>

    <br>
    <br>
    <a href="logout" style="color : red;">logout</a>

    <!-- see the student data here -->

</body>
</html>