<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Search Notes</h1>
    <form action="/student/searchNotes" method="post">
        <label for="">Subject: </label>
        <input type="text" name="title" placeholder="Enter subject name...." id=""> <br>

        <input type="submit" value="search">
    </form>

    <br> <br>
    Search Results: <br> <br>
    <% notes.forEach((note) => { %>
        Note Title: <%= note.title%> <br>
        Note Content: <%= note.content %> <br> <br> <br>
    <% }) %>


</body>
</html>