<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Student Login Form</h1>
    <form action="/student/login" method="post">

        <label for="">Email</label> 
        <input type="email" name="studentEmail" id=""><br>
        <label for="">Password</label>
        <input type="password" name="studentPassword" id=""> <br>

        Don't have an account? <a href="signup">signup</a> <br> <br>

        <input type="submit" id="">
        
    </form>

</body>
</html>
